#content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
  
  #greeting-container {
    margin-top: 20px;
    color:white;
  }
  h1 {
      border: 7px dashed #ffffff;
      text-align: center;
      color: red;
      /* background-color: #04031c; */
      margin-bottom: 10px;
    }
    button{
      border-radius: 0%;
      /* border: 5px solid red; */
    color:red;
    background-color: black;
    }
    .myBtn2{
      color:red;
    }
    body {
      background-image: url('css-background.jpeg');
      background-size: cover;
  }
  p{
      color:white;
  }
  a:hover{
      color:red;
      text-decoration-color:blue;
  }
  a{
      color:blue;
      text-decoration-style: dashed;
      text-decoration-color: red;
  }
  .link1{
      text-decoration: none;
  }
  button:hover{
      color:black;
    background-color: white;
    cursor:pointer;
  }
  #heading{
      font-weight: bold;
      color: #00fbff;
      font-size:25px;
      margin:15px;
      text-decoration: underline;
  
  }
  
  div{
      text-align: center;
  }
  #image1{
      position:relative;
      right:300px;
      padding:0px, 0px;
      margin:0px,0px;
      
  }
  #myLife{
      position:relative;
      bottom: 200px;
      left: 200px;
      width:600px;
      font-size:20px
  }
  #projects{
    border: 3px solid white;
    position:relative;
    right:100px;
  bottom: 150px;
  width:500px;
  height:400px 
}
#projectHeader{
    color:#f50d0d;
  text-decoration: underline;
}
#chessBoard{
  position:relative;
  right:150px;
bottom: 0px;
} 
#queenTitle{
  position: relative;
  left:80px;
  bottom:170px;
text-decoration:underline;
color:white;


}
#queen{
  position: relative;
  left:210px;
  bottom:180px;
width:250px
}
#8QueenCode{
  position: relative;
}
#secondBox{
  border: 3px solid white;
  position:relative;
  left:560px;
bottom: 722px;
width:500px;
height:400px 
}
#Work{
color:rgb(255, 0, 0);   
text-decoration: underline;
 
}
#google{
  color:white;
  margin:0px;
}
#google-info{
position: relative;
font-size: 15px;
  margin:10px;
}
#ImageEditor{
    position: relative;
    right: 150px;
    bottom:150px;
}
#editorTitle{
    color:white;
    position: relative;
    left: 100px;
    top:-340px;
    text-decoration: underline;
}
#editorInfo{
    position: relative;
    left: 220px;
    top:-350px;
  width: 280px
}
#QueensBorough{
    position: relative;
    color:white;
  padding-top:15px;
  margin:10px
}
#CollegeInfo{
position: relative;
font-size: 15px;
  margin:0px;
}